openapi: 3.2.0
info:
  version: 1.0.0
  title: Agrology Public API v2 Ground Truth API
servers:
- url: https://api.agrology.ag/v2
tags:
- name: Ground Truth
paths:
  /historical/ground-truth/device-types:
    get:
      security:
      - publicApiAuthorizer: []
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Ground Truth
      summary: Get historical ground truth device types
      x-summary-source: derived
      operationId: getHistoricalGroundTruthDeviceTypes
      x-operation-id-source: derived
  /historical/ground-truth/{siteID}/{timeRange}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: timeRange
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Ground Truth
      summary: Get historical ground truth by site id by time range
      x-summary-source: derived
      operationId: getHistoricalGroundTruthBySiteIDByTimeRange
      x-operation-id-source: derived
  /historical/ground-truth/{siteID}/node/{nodeID}/{timeRange}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: nodeID
        in: path
        required: true
        schema:
          type: string
      - name: timeRange
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Ground Truth
      summary: Get historical ground truth by site id node by node id by time range
      x-summary-source: derived
      operationId: getHistoricalGroundTruthBySiteIDNodeByNodeIDByTimeRange
      x-operation-id-source: derived
  /historical/ground-truth/{siteID}/device/{deviceID}/{timeRange}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: deviceID
        in: path
        required: true
        schema:
          type: string
      - name: timeRange
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Ground Truth
      summary: Get historical ground truth by site id device by device id by time range
      x-summary-source: derived
      operationId: getHistoricalGroundTruthBySiteIDDeviceByDeviceIDByTimeRange
      x-operation-id-source: derived
  /historical/ground-truth/{siteID}/devices:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Ground Truth
      summary: Get historical ground truth by site id devices
      x-summary-source: derived
      operationId: getHistoricalGroundTruthBySiteIDDevices
      x-operation-id-source: derived
components:
  securitySchemes:
    publicApiAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
