openapi: 3.2.0
info:
  version: 1.0.0
  title: Agrology Public API v2 Microclimate API
servers:
- url: https://api.agrology.ag/v2
tags:
- name: Microclimate
paths:
  /predictions/microclimate/{siteID}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Microclimate
      summary: Get predictions microclimate by site id
      x-summary-source: derived
      operationId: getPredictionsMicroclimateBySiteID
      x-operation-id-source: derived
  /predictions/microclimate/{siteID}/node/{nodeID}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: nodeID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Microclimate
      summary: Get predictions microclimate by site id node by node id
      x-summary-source: derived
      operationId: getPredictionsMicroclimateBySiteIDNodeByNodeID
      x-operation-id-source: derived
  /predictions/microclimate/{siteID}/{timeRange}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: timeRange
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Microclimate
      summary: Get predictions microclimate by site id by time range
      x-summary-source: derived
      operationId: getPredictionsMicroclimateBySiteIDByTimeRange
      x-operation-id-source: derived
  /predictions/microclimate/{siteID}/node/{nodeID}/{timeRange}:
    get:
      security:
      - publicApiAuthorizer: []
      parameters:
      - name: siteID
        in: path
        required: true
        schema:
          type: string
      - name: nodeID
        in: path
        required: true
        schema:
          type: string
      - name: timeRange
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                type: string
      tags:
      - Microclimate
      summary: Get predictions microclimate by site id node by node id by time range
      x-summary-source: derived
      operationId: getPredictionsMicroclimateBySiteIDNodeByNodeIDByTimeRange
      x-operation-id-source: derived
components:
  securitySchemes:
    publicApiAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
